body{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main{
    width: 700px;
    height: 400px;
    margin: 30px auto;
    background-color: rgb(228, 228, 228);
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 3px 9px rgb(172, 170, 170);
}

.background{
    
    margin: 10px auto;
    background-color: rgb(49, 49, 189);
    border-radius: 50px 50px 0 0;
    height: 170px;
    color: white;
}

.background h1{
    
    font-size: 40px;
    text-transform: uppercase;
}

.background P{
    font-size: 30px;
}


.counter{
    margin: 10px auto;
    width: 90%;
    text-align: center;
    align-items: center;

}

#firstNumber{
    padding: 5px;
    font-size: 20px;
    margin: 10px;

}

.counter span{
    
    font-size: 40px;
    color: rgb(9, 185, 62);
}

#seccondNumber{
    padding: 5px;
    font-size: 20px;
    margin: 10px;
}

.addNumbers{
    width: 90%;
    height: 50px;
    margin-top: 20px;
    background-color: rgb(70, 70, 228);
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
}

button:hover {
    background-color: #45a049;
  }
.result {
    margin-top: 20px;
    
    font-size: 28px;
  }

  .icon {
    font-size: 24px;
    margin: 0 10px;
    color: #4caf50;
  }